*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:aqua ;
}
h1{
    font-size: 29px;
}main{
    background-image: linear-gradient(to bottom, blue,yellow);
}
footer{
    background-color: aliceblue;
}